.answered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 1rem;
}

.answered-image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 600px;
}

.answered-image-section img {
    width: 75%;
}

.answered-descripton-header {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
}

.answered-description-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin: 1rem 0;
}