.our-offer-section-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-offer-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 450px;
}

.our-offer-item-container {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.our-offer-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    /* height: 260px; */
    margin: 0px 20px 20px 30px;
}

.our-offer-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.our-offer-item:hover {
    transform: scale(1.03);
}

.our-offer-icon-container svg {
    font-size: 3.2rem;
    color: #fff;
}

.our-offer-item-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}