.term-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.term-header {
    margin: 1rem 0;
    text-align: center;
}

.term-content {
    margin: 1rem 0;
    text-align: justify;

    p {
        margin: 1rem 0;
    }
}

@media (max-width: 800px) {
    .term-container {
        box-shadow: none;
        padding: .5rem;
    }
}