.differences-section-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.differences-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
}

.differences-item-container {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.differences-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    height: 350px;
    margin: 0px 20px 0px 30px;
}

.differences-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.differences-icon-container svg {
    font-size: 4.5rem;
    color: #000; /*002254*/
}

.differences-item-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}