.result-box-area {
    cursor: pointer;
    margin: 1rem 0.5rem;
}

.result-box-area:hover {
    transform: scale(1.02);
}

.result-box {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    color: #4C4C4C;
}

.result-box-bg {
    background-color: #D9D9D9;
}
  
.result-box.active-box {
    color: #fff;
}

.result-bar-container {
    width: 100%;
    background-color: #e0e0df;
    overflow: hidden;
    height: 25px;
}

.result-bar {
    height: 100%;
    text-align: center;
    white-space: nowrap;
}

.result-text-percent {
    display: inline;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

/* @media (max-width: 1700px) {
    .result-box {
        width: 200px;
    }
}

@media (max-width: 1400px) {
    .result-box {
        width: 180px;
    }
}

@media (max-width: 1200px) {
    .result-box {
        width: 150px;
    }
} */