.home-banner-container {
    position: relative;
    display: flex;
    padding-top: 3rem;
}

.home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 700px;
}

.home-image-section {
    flex: 1;
	display: flex;
	justify-content: center;
	max-width: 300px;
}

.home-image-section img {
	width: 60%;
}

@media (max-width: 800px) {
    .home-text-section {
        align-items: center;
    }
    .home-image-section {
        width: 100%;
        max-width: 100px;
		display: none;
	}
}