.footer {
    background-color: #EBEBEB;/*282c34*/
    color: #000;
    padding: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-text {
    text-align: center;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}

.footer-image {
	max-width: 110px;
}

.footer-image img {
    width: 100%;
}

@media (max-width: 1000px) {
    .footer-image {
        max-width: 80px;
	}
}

@media (max-width: 550px) {
    .footer-image {
        max-width: 60px;
    }
}