.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.error-instruction-message-section {
    margin-bottom: 1rem;
}

.error-image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.error-image-section img {
    width: 60%;
}