.recommendation-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.recommendation-group-area {
    margin-bottom: 1rem;
}

.recommendation-group-area-content {
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 0 0.3rem 0.3rem 0;
    margin-bottom: .4rem;
    padding: 1rem 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.recommendation-group-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 0 50% 50% 0;
    background-color: #fff;
}

.recommendation-group-description {
    margin-left: .6rem;
    font-size: 1.15rem;
    color: #fff;
}

.recommendation-group-area-content:hover {
    transform: scale(1.015);
}

@media (max-width: 950px) {
    .recommendation-group-container {
        flex-direction: column;
    }
}